<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon?.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="pokemon?.sprites?.front_default"></ion-img>
            <p>Altura: {{ pokemon?.height }} cm</p>
            <p>Peso: {{ pokemon?.weight }} kg</p>
            <p>Experiência Base: {{ pokemon?.base_experience }}</p>
            <p>Tipos:</p>
            <ul>
              <li *ngFor="let type of pokemon?.types">
                {{ getTranslatedType(type.type.name) | titlecase }}
              </li>
            </ul>
            <p>Habilidades:</p>
            <ul>
              <li *ngFor="let ability of pokemon?.abilities">
                {{ (ability.ability.name) | titlecase }}
              </li>
            </ul>
            <p>Atributos:</p>
            <ul>
              <li>HP: {{ pokemon?.stats[0].base_stat }}</li>
              <li>Ataque: {{ pokemon?.stats[1].base_stat }}</li>
              <li>Defesa: {{ pokemon?.stats[2].base_stat }}</li>
              <li>Ataque Especial: {{ pokemon?.stats[3].base_stat }}</li>
              <li>Defesa Especial: {{ pokemon?.stats[4].base_stat }}</li>
              <li>Velocidade: {{ pokemon?.stats[5].base_stat }}</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
