<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding">
      {{ pokemon?.name | titlecase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon?.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="pokemon?.sprites?.front_default"></ion-img>
            <p>Height: {{ pokemon?.height }}</p>
            <p>Weight: {{ pokemon?.weight }}</p>
            <p>Base Experience: {{ pokemon?.base_experience }}</p>
            <p>Types:</p>
            <ul>
              <li *ngFor="let type of pokemon?.types">
                {{ type.type.name | titlecase }}
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
